.forecastContainer{
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 75px;
  min-height: 100vh;

  .forecastSearch{
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .forecastPaperWrapper{
    min-height: 500px;
    margin-top: 30px;
    
  
  .forecastHeader {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;

      @media (max-width: 600px) {
        justify-content: center;
      }

      .justifyLeft{
        justify-self: flex-start;
      }
      .addToFavoritesBtn{
        justify-self: flex-end;
        margin: 15px 15px 0 0;
        height: 45px;

          @media (max-width: 600px) {
            margin: 0;
          }
      }
    }
  }
  
}
