.currentConditionsWrapper{
  background-color: inherit;

  .MuiPaper-root{
   background-color: inherit;
  }

  .cityNameHeader{
    @media (max-width: 600px) {
      font-size: 2em;
    }
  }
}

.conditionsLoader{
  padding: 25px;
}